<div class="container-fluid" style="padding-top: 15px;">
    <div class="row">
            <div *ngFor="let recipe of recipeList; let i=index">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="padding-bottom:15px;">
                    <a routerLink="/recipes/{{recipe.id}}">
                        <img  class="img-responsive rounded" alt="Photos preview" [src]="transform(recipe['fileDb'].data)" width="300" height="200" />
                    </a>
                    <a routerLink="/recipes/{{recipe.id}}">
                            <h5>Name: {{recipe.name}}</h5>
                    </a>

                        
                    
                    <button class="btn btn-primary" (click)="matchFinder(recipe.id)" >Match</button>
                    <br>
                </div>
                
            </div> 
    </div>


    <div *ngIf="recipeList?.length == 0" class="alert alert-warning col-md-12" role="alert">
        No products found.

    </div>
</div>




 
